.close {
    text-align: right;
  }
  
#container ion-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    height: 12em;
}

.progress-bar{
    padding-left: 0;
}

.button-play{
    height: 6em;
    width: 6em;
}