<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
        <div class="ion-text-end">
          <ion-button color="danger">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img src="./assets/img/bo1_piscada.png"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-list-header class="progress-bar">
              <ion-label>
                  <ion-row>
                    <ion-col class="ion-text-left">0:23</ion-col>
                    <ion-col class="ion-text-right">-0:37</ion-col>
                  </ion-row>
                </ion-label>
            </ion-list-header>
            <ion-progress-bar value="0.5"></ion-progress-bar>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-button fill="outline" class="button-play" shape="round">
              <ion-icon name="play-outline" size="large"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Objetivo
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Nome do Oobjetivo
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>